[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
scikit-learn = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
jupyter = "*"
openpyxl = "*"
evidently = "*"
black = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
prefect = "*"
mlflow = "*"
pylint = "*"

[dev-packages]
seaborn = "*"
requests = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.13"
